autoscan.log
configure.scan
autom4te.cache/
m4/*
ltmain.sh
autom4te.cache/*
aclocal.m4
configure
compile
config.guess
config.sub
src/Makefile.in
iMath/Makefile.in
missing
Makefile.in
install-sh
depcomp
config.log
config.status
libtool
Makefile
.deps/
libimath_la-imath.lo
libimath_la-imath.o
libimath.la
.libs/

main.o
zed
